@{
    ViewData["Title"] = "Contact Us";
}

<h2>Liên hệ</h2>

<h4>Nếu bạn có bất kỳ câu hỏi nào, vui lòng liên hệ với Cửa hàng Pizza bằng cách nhấn vào các liên kết dưới đây.</h4>

<address>
    <strong>Hỗ trợ:</strong> <a href="mailto:Admin@default.com">Admin@default.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

