
@{
    var ModelName = "Admin Page";
    ViewData["Title"] = ModelName;
}

<h2>@ModelName</h2>

<h3><a asp-controller="Pizzas" asp-action="Index">Pizzas</a></h3>
<h3><a asp-controller="Categories" asp-action="Index">Danh mục</a></h3>
<h3><a asp-controller="Ingredients" asp-action="Index">Nguyên liệu</a></h3>
<h3><a asp-controller="PizzaIngredients" asp-action="Index">Nguyên liệu pizza</a></h3>
<h3><a asp-controller="Reviews" asp-action="Index">Đánh giá</a></h3>
<h3><a asp-controller="Orders" asp-action="Index">Đơn hàng</a></h3>
<h3><a asp-controller="Admin" asp-action="SeedDatabase">Tải dữ liệu</a></h3>
<h3><a asp-controller="Admin" asp-action="ClearDatabase">Xoá dữ liệu</a></h3>
