@model OnlinePizzaWebApplication.Models.Ingredients

@{
    ViewData["Title"] = "Delete";
}

<h2>Xoá</h2>

<h3>Bạn có chắc muốn xoá chứ?</h3>
<div>
    <h4>Ingredients</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-danger" /> |
            <a asp-action="Index">Quay về danh sách</a>
        </div>
    </form>
</div>
